html,body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}	 
.card__header-text{
		  background:linear-gradient(to right,#f12711,#f5af19);	
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	  }
	  .add-plus{
		   background:linear-gradient(to right,#f12711,#f5af19);	
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
		  cursor: pointer;
	  }
	  .form-header-box{
		  position: absolute;
		  height: 2rem;
		  width: 15rem;
		  top: 3rem;
		  left:-1rem;
		  background:linear-gradient(to right,#f12711,#f5af19);
	  }
	  .form-side-image{
		 background:linear-gradient(to right,rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url("food.jfif") no-repeat center;
		  background-size: cover;
		  height: 100%;
/*		linear-gradient(to right,rgba(241,39,17,0.5),rgba(245,175,25,0.5) */
	  }
	  .file {
  visibility: hidden;
  position: absolute;
}
#preview{
height: 150px;
	width: 150px;
	object-fit: cover;
}
	  .uploadimage-parent{
	
	  }
	  .uploadimage-btn{

	  }
	  .button-gradient{
		  background: linear-gradient(to right,rgba(241,39,17,0.8),rgba(245,175,25,0.8));
	  }
