*,*:after,*:before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 100%;
}
body{
	font-family: sans-serif;
	font-size: inherit;
}
.card{
	height:22rem;
	width:15rem;
	border: 1px solid lightgray;
	overflow: hidden;
}
.card__image{
	background: url(spegetti.jpg) no-repeat center;
	height:60%;
	background-size: cover;
 }
.card__description{
	position: relative;
}
.card__description-header{
	width: 75%;
	padding: 1rem;
	font-size: 1.4rem;
	font-weight: 300;
}
.card__descriptio-price{
	position: absolute;
	top: 1rem;
	right: 1rem;
	border: 1px solid dodgerblue;
	padding: 0.2rem 0.7rem;
	background-color: dodgerblue;
	color: whitesmoke;
	font-size: 1.2rem;
	font-weight:550;
	border-radius: 0.6rem;
}
.card__description-details{
display: flex;
flex-wrap: wrap;
	line-height: 1.6;
flex-direction: row;
	padding: 0 1rem;

}
.card__order{
	width: 5.6rem;
}
.card__revenue{

width: 5rem;
	padding-left: 1rem;
}