	*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
		}

body {
  font-family: serif,sans-serif;
	width: 100%;
	overflow: hidden;
 }
		.notification{
			position: fixed;
			right: 0;
			width: 25rem;
			transform: translateX(25rem);
			transition: all 0.5s;

		}
.show{
			position: fixed;
			right: 0;
			width: 25rem;

			transform: translateX(0rem);

	
}
		.notification--icon{
			background-color: orangered;
			display: inline-block;
			color: white;
			padding:1.4rem;
			border-top-left-radius: 0.9rem;
			border-bottom-left-radius: 0.9rem;
			font-size: 1.8rem;
			position: absolute;
			left:-4.2rem;
			top:50vh;
			
		}
		.notification--icon:hover{
			cursor: pointer;		}
		
		.notification--box{
			position: fixed;
			top:calc(100vh-95vh);
			right: 0;
			float: right;
			background-color: gray;
	display: block;
			overflow-y: auto;
			height: 100vh;
			width: 100%;
		}
.number{
  position:absolute;
  left:-20px;
  top:-10px;
					text-align: center;
					/* padding: 0px !important; */
					color: #ffffff;
					/* padding: 4px 10px; */
					display: inline-block;
					background-color: orangered;
					line-height: 25px;
					/* display: initial; */
					height: 25px;
					margin-left: 5px;
					width: 25px;
					border-radius: 50%;
				}
		.timeline {
			font-size: 1.5rem;
    list-style: none;
    padding: 2rem 0;
    position: relative;
    font-weight: 200;	
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 0.2rem;
    background: gray;
}
.timeline > li {
    margin-bottom: 2rem;
    position: relative;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
/*
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
*/
	
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 2.6rem;
/*    right:px;*/
    display: inline-block;
    border-top: 1.5rem solid transparent;
    border-left: 1.5rem solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 1.5rem solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 2.7rem;
    right: -1.4rem;
    display: inline-block;
    border-top: 1.4rem solid transparent;
    border-left: 1.4rem solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 1.4rem solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 5rem;
    text-align: center;
    position: absolute;
  
    
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 1.5rem;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 1.4rem;
 
}
.timeline-badge > a {
    color: rgb(106, 102, 217) !important;
	
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 1.5rem;
    color: #4679bd;
}
.timeline-body > p, .timeline-body > ul {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
}
.timeline-footer {
    padding:0.5rem 1.5rem;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
   
}
.timeline > li.timeline-inverted > .timeline-badge {

}
.no-float {
    float: none !important;
}
@media (max-width: 1800px) {
    ul.timeline:before {
        left: 1.2rem;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
/*        width: calc(100% - px);*/
        width: -moz-calc(85%);
        width: -webkit-calc(85%);
    }
    ul.timeline > li > .timeline-badge {
        left: 0px;
        margin-left: 0;
        top: 3.9rem;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 1.5rem;
        left: -1.5rem;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 1.4rem;
        left: -1.4rem;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 0px;
    }
}