
.menu-checkbox {
  list-style-type: none;
}

.menu-checkbox__item {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

.menu-checkbox__label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
	border-radius:50px
}

.menu-checkbox__label:before {
  background-color: white;
  color:white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid lawngreen;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.menu-checkbox__image {
  height: 6rem;
  width: 6rem;
	border-radius: 50%;
	object-fit: cover;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}
:not(:checked)+label{
  border-color: #ddd;
}
:checked + .menu-checkbox__label:before {
  content: "✓";
  background-color: lawngreen;
  transform: scale(1);
text-align: center;
}

:checked + .menu-checkbox__image {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}