  *{
		  padding: 0;
		  margin: 0;
		  box-sizing: border-box;
	  }
	  html{
		 font-size: 1rem;
	scroll-behavior: smooth;
color: black;
	  } 
	  body{
		 
	  }
.coupen-wrap{
	height: 100%;
	width: 100%;
	position: relative;

}
.ribbon{
	height: 100%;
	width: 100%;
	position: absolute;
	top: -0.8rem;
	left: -0.7rem;
		overflow: hidden;
	clip-path:circle();
	
}
/*
.ribbon:after{
	content: "";
	height: 0.4rem;
	width: 1.7rem;
	position: absolute;
	left:5rem;
	top:1rem;
		border-radius: 100rem;
		background: rgba(0,0,0,0.4);;

}
.ribbon:before{
	content: "";
	height: 1.7rem;
	width:0.7rem;
	position: absolute;
	left:40px;
	background: rgba(0,0,0,0.4);
	top:60px;
	border-radius: 0.7rem 0.7rem 0.7rem 1.7rem;
}
*/

.discount-coupen{
  box-shadow:0px 4px 6px 0px rgba(0,0,0,0.3);
	position: absolute;
	top: 1.8rem;
	left: -1rem;
	font-size: inherit;
	z-index: 1;
	background: yellow;
	height: 1.7rem;
	width: 100%;
	text-align: center;
	color: black;
	transform: rotate(-35deg);
}
.image{
	height: 100%;
	width: 100%;
	object-fit: cover;
	clip-path:circle();
	position: relative;
	
}


a:link,a:visited,a:hover{
	color: black;
	cursor: pointer;
	text-decoration: none;
}
.menu-nav{
	position:sticky;
	z-index: 55;
	top:2;
	left: 0;
}
@media(max-width:992px){
		 .discount-coupen{
text-align: center;

		  }
}
	  @media(max-width:768px){
		  html{
			  font-size: 0.72rem;
		  }
		  .discount-coupen{

/*
			  font-size: 2rem;
			  height: 4rem;
			  line-height: 4rem;
			  top: 4rem;
	left: -3rem;
*/
		  }
	  }
 @media(max-width:575px){
	  html{
		
		  }
	 		  .discount-coupen{
text-align: center;
			  font-size: 2rem;
			  height: 4rem;
			  line-height: 4rem;
			  top: 3rem;
	left: -2.5rem;
		  }
}