.notification{
			position: fixed;
			right: 0;
			width: 15rem;
			transform: translateX(15rem);
			transition: all 0.5s;
z-index: 5;
		}
.notification-show{
			position: fixed;
			right: 0;
			width: 25rem;

			transform: translateX(0rem);

	
}
		.notification--icon{
			background-color: orangered;
			display: inline-block;
			color: white;
			padding:0.7rem;
			border-top-left-radius: 0.9rem;
			border-bottom-left-radius: 0.9rem;
			font-size: 1rem;
			position: absolute;
			left:-2.2rem;
			top:32vh;
			
		}
		.notification--icon:hover{
			cursor: pointer;		}
		
		.notification--box{
			position: fixed;
			top:-3rem;
			right: 0;
			float: right;
			background-color: gray;
	display: block;
			overflow-y: auto;
			height: 100vh;
			width: 100%;
		}
.number{
  position:absolute;
  left:-20px;
  top:-10px;
					text-align: center;
					/* padding: 0px !important; */
					color: #ffffff;
					/* padding: 4px 10px; */
					display: inline-block;
					background-color: orangered;
					line-height: 25px;
					/* display: initial; */
					height: 25px;
					margin-left: 5px;
					width: 25px;
					border-radius: 50%;
				}
.timeline {
			font-size: 0.8rem;
    list-style: none;
    padding: 0rem 0;
    position: relative;
    font-weight: 200;	
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 0.1rem;
    background: gray;
}
.timeline > li {
    margin-bottom: 1rem;
    position: relative;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
/*
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
*/
	
    float: left;
    border: 1px solid #dcdcdc;

    background: #ffffff;
    position: relative;border-radius: 12px;
	
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 1rem;
    display: inline-block;
    border-top: 1rem solid transparent;
    border-right: 1rem solid #dcdcdc;
    border-bottom: 1rem solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 1rem;
    display: inline-block;
    border-top: 1rem solid transparent;
    border-left: 1rem solid #ffffff;
    border-right: 0rem solid #ffffff;
    border-bottom: 1rem solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 1rem;
    text-align: center;
    position: absolute;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;


}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 1.5rem;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 1.4rem;
 
}
.timeline-badge > a {
    color: orangered !important;
	
}
	
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0rem 1.5rem;
    color: #4679bd;font-size: 0.8rem;
}
.timeline-body > p, .timeline-body > ul {
    padding: 0rem 1.5rem;
    margin-bottom: 0;font-size: 0.8rem;
}
.timeline-footer {
    padding:0rem 1.5rem;
    background-color:#f4f4f4;border-radius: 12px;
}
.timeline-footer p { margin-bottom: 0; font-size: 0.8rem;}
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.no-float {
    float: none !important;
}
@media (max-width: 1800px) {
    ul.timeline:before {
        left: 0rem;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;   
		left: -1.2rem;

		
    }
    ul.timeline > li > .timeline-panel {
/*        width: calc(100% - px);*/
        width: -moz-calc(69%);
        width: -webkit-calc(69%);
  
	}
    ul.timeline > li > .timeline-badge {
        left: 0px;
        margin-left: 0;
        top: 1.2rem;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 1.5rem;
        left: -1.5rem;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 1.4rem;
        left: -1.4rem;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 0px;
    }
}